footer{
    position: relative;
    background: #434343;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }


    .copyright{
        width: 100%;
        text-align: center;
    }

}