.navigation{
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0px;
    background: white;
    border-bottom: 1px solid black;
    z-index: 99;

    .content{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-around;
    }

    .logo{
        flex-shrink: 0;
    }

    .logo-img{
        height: 50px;
    }

    .menu{
        display: flex;
        gap: 20px;
        font-weight: 500;
    }

    .menu-item:hover {
        border-bottom: 1px solid black;
    }

    .phone{
        display: flex;
        align-items: center;
    }

    .phone-text{
        white-space: nowrap;
        margin-left: 5px;
        font-weight: 500;
    }

    .m-menu{
        display: none;
    }

    .m-menu-list{
        display: none;
        position: absolute;
        background: white;
        right: 0px;
        top: 60px;
        border: 1px solid black;
        padding: 5px;
        z-index: 99;
    }

    .m-menu-item{
        padding: 5px 10px 5px 10px;
        border-bottom: 1px solid black;
    }

    .m-menu-item:last-child{
        border-bottom: none;
    }

    .m-menu-btn{
        background: none;
        border: none;
        cursor: pointer;
    }

    .open{
        display: block;

    }

    @media (max-width: 767px){
        .menu{
            display: none;
        }

        .m-menu{
            display: block;
        }
    }

    @media (max-width: 479px) {
        .logo-img{
            height: 40px;
        }

        .m-menu-list{
            top: 50px;
        }
    }
}





